.container {
  text-align: center;
  h1 {
    font-family: fontOfMe;
    color: rgb(26, 185, 66);
    margin-top: 20px;
  }
  p {
    font-family: fontOfMe;
    font-size: 20px;
    font-weight: bold;
    color: rgb(26, 185, 66);
  }
}
.btn-design {
  color: #04aa6d;
  background-color: white;
  font-size: large;
  margin-top: 20px;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  border-color: #04aa6d;
  border-style: solid;
  &:hover {
    background-color: #88f7ce;
  }
  &:active {
    background-color: #1ef78a;
  }
}
