<!-- <div style="width: 100%;">
  <button class="btn-design btn-add" style="margin-bottom: 30px;" (click)="openDialogToAddTask()">Thêm</button></div>
<div class="container">
  <table id="customers">
    <thead>
      <td></td>
      <td>Tên công việc</td>
      <td>Thời gian bắt đầu</td>
      <td>Action</td>
    </thead>
    <tr *ngFor="let task of tasks | async; let idx='index'">
      <td>{{ idx+1 }}</td>
      <td>{{task.taskName}}</td>
      <td>{{task.date}}</td>
      <td>
        <button class="btn-design btn-add" (click)="openDialogToEditTask(idx, task)">Chỉnh sửa</button>
        <button class="btn-design btn-add" (click)="finishTask(task)">Hoàn thành</button>
      </td>
    </tr>
  </table>
</div> -->
